<!-- <section class="single-product">
    <div class="'container">
        <div class="row">
            <div class="col-md-5">
                <div class="single-product-slider">
                    <div class="carousel slide" data-ride="'carousel" id="single-product-slider">
                        <div class="carousel">
                            <div class="carousel-item active">
                                <img [src]="productData.product_image" alt="" class="img-fluid">                                

                            </div>  -->
                            <!-- <ol class="carousel-indicator">
                                <li data-target="#single-product-slider" data-slide-to="0" class="active">
                                    <img [src]="productData.product_image" alt="" class="img-fluid">
                                </li>

                            </ol> -->
                        <!-- </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<h1 class="product-price">{{productData.product_price}}</h1>
<p class="product-discription">{{productData.product_description}}</p> -->

<table class="table">
    <tr >
        <td>
            <img [src]="productData.product_image" alt="" class="img-fluid"> 
        </td>                                       
<td>
    <p class="product-Brand"> Brand: {{productData.product_title}} </p>
        <h1 class="product-price">Price: ${{productData.product_price}}</h1>
        <p class="product-discription">{{productData.product_description}}</p>
</td>   
</tr>    
</table>

