h1{
    color: black;
}

/* .tab {
    display: inline-block;
    margin-left: 40px;
    color:azure
    tab-size = 2px;
}
a{
    text-decoration-line: none;
}
:host ::ng-deep .p-megamenu{
    background-color: rgb(47, 47, 49) !important;
    position: sticky !important; 
    width: 100% !important;
    top:0; */
    /* overflow: hidden;  */
    
  
/* }

:host ::ng-deep .p-megamenu .p-megamenu-root-list > .p-menuitem > .p-menuitem-link .p-menuitem-text {
    color:white !important;
    text-align: center !important;
}

:host ::ng-deep .bar {
    color: white;
}

:host ::ng-deep .searchBar {
    width: 450px !important;
    height: 30px !important;
    text-transform:capitalize;
}*/
.top{
    margin: auto;
    max-height: 184px;
    max-width: 224px;
    border-image-outset:2rem;
    border-radius: 45%;
} 

.container-brand {
 display: flex;
 flex-wrap: wrap; 
}

.container-brand >li {

    margin: 10px;
    padding: 20px;
}

li {
    
        list-style-type:none;
        
}

a{
    text-decoration-line: none;
}
