<p-card >
    <p-dataView #dv [value]="productsingle" [paginator]="true" [rows]="12" filterBy="title" layout="grid"
        class="dataview" [style]="{'position':'unset'}">
        <ng-template pTemplate="header">
            <div class="flex flex-column md:flex-row md:justify-content-between">
                <p-dropdown placeholder="sort by price"> </p-dropdown>
                <span class="p-input-icon-left mb-2 md:mb-0">
                    <i class="pi pi-search"></i>
                    <input type="search" pInputText placeholder="Search by Name"
                        (input)="dv.filter($any($event.target).value)">
                </span>
            </div>
        </ng-template>
        <ng-template let-item pTemplate="gridItem">
            <div class="col-12 md:col-4 sm:col-6" (click)="addItem(item)">
                <div class="product-grid-item card">
                    <div class="product-grid-item-top">
                        <div>
                            <i class="pi pi-tag product-category-icon"></i>
                            <span class="product-category">{{item.id}}</span>
                        </div>
                        <div>
                            <a routerLink="/singleproduct/{{item.id}}">
                                <img class="top" [src]="item.product_image" alt="product.brands"
                                    style="height:200px; width:200px; padding: 20px;">
                            </a>
                        </div>

                        <!--<span [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span> -->
                    </div>
                    <div class="product-grid-item-content">
                        <div class="product-name">{{item.product_title}}</div>
                        <!-- <div class="product-description">{{product.description}}</div> -->
                        <!-- <p-rating [ngModel]="product.rating" ></p-rating> -->
                    </div>
                    <div class="product-grid-item-bottom">
                        <span class="product-price">${{item.product_price}}</span>
                        <!-- <p-button icon="pi pi-shopping-cart" [disabled]="product.inventoryStatus === 'OUTOFSTOCK'"></p-button> -->
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataView>
</p-card>

